#contact-form ul {
    margin-bottom: 20px;
    
    
  }
  
  #contact-form li {
    margin-bottom: 10px;
    
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    margin-right: 0px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #020202;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #023d22;
    border: 0 none;
    
  }

  #hotdog {
      margin-top: 10px;
      margin-right: 300px;
      margin-left: 300px;
      text-align: center;
      color: #023d22;



  }

  #pizza {
      text-align: center;
  }

  #carrot {
      text-align: center;
      margin-right: 300px;
      margin-left: 300px;
      color: #023d22;
      margin-top: 10px;
  }
  
  #lighter {
      margin-right: 300px;
      margin-left: 300px;
  }

  #broccoli {
    margin-right: 300px;
    margin-left: 300px;
  }

  img {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px;
    width: 510px;
    margin-bottom: 20px;
}

#spoon {
    height: 500px;
    width: 100px;
    border: 1px solid black;
    float: middle;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fork {
    margin-left: 300px;
    margin-right: 300px;
}

#plate {
    margin-right: 300px;
    margin-left: 275px;
}
    